body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "VT323", monospace;
}

body,
.snake {
  background-color: #4e4e4e;
}

#game-board {
  border-radius: 100px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
}

.game-border-1 {
  border: #5f5743 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #5f5743;
}
.game-border-2 {
  border: #b7ad8a solid 8px;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #b7ad8a;
}
.game-border-3 {
  border: #968c6c solid 25px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px #968c6c;
}

#instruction-text {
  position: absolute;
  top: 60%;
  color: #404040;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
  margin: 0;
}

.scores {
  display: flex;
  justify-content: space-between;
}

#score {
  color: #b7ad8a;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

#highScore {
  color: #ddd9ca;
  display: none;
}

.game-border-3,
#logo {
  background-color: #cfc4a3;
}

.snake {
  border: 1px dotted #676767;
  position: relative;
}

.snake:first-child::before,
.snake:first-child::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #ffffff; /* White color for the eyes */
  border-radius: 50%;
}

/* Positioning the eyes */
.snake:first-child::before {
  top: 4px;
  left: 6px;
}

.snake:first-child::after {
  top: 4px;
  right: 6px;
}

.food {
  background-color: red;
  border-radius: 50%;
  border: red 5px solid;
}

#logo {
  position: absolute;
}

.hidden {
  display: none;
}

#game-over-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
}

#game-over-text {
  display: none;
  font-size: 2rem;
  color: #ff0000;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10; /* Ensure it's above other elements */
}

#retry-button {
  display: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Ensure it's above other elements */
}
